html,
body {
  background-color: #222;
  font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
}

canvas {
  display: block;
}

#sketch-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 4%;
  position: relative;
}

#btn-Bar {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.btn {
  margin-left: 5px;
  margin-right: 5px;
}

#btn-Bar > #usr-sequence {
  margin-right: 5px;
}
